fastapi==0.111.0
pydantic==2.8.2
langchain==0.2.13
langchain-openai==0.1.20
langchain-community==0.2.12
flask==3.0.3
langgraph==0.2.4
langchain-fireworks==0.1.7
ipython==8.26.0
llama-parse==0.5.0
unstructured_ingest==0.3.6